{% extends 'myapp/base.html' %} 
{% block content %}
<div class="container py-3">
    <div class="card bg-info bg-gradient">
        <div class="card-body" style="background: linear-gradient(to right, #f4943b, #e91639);">
            <h2 class="my-3 text-center text-light">Bus Reservation System</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-lg-5 col-md-7 col-sm-10 col-xs-12">
            <div class="card" style="background-color: rgba(255, 255, 255, 0.2); backdrop-filter: blur(10px);">
                <div class="card-header bg-secondary" style="background: linear-gradient(to right, #f4943b, #e91639);">
                    <div class="card-title h3 fw-bold mb-0 text-center text-white">Login</div>
                </div>
                <div class="card-body">
                    <form action="{% url 'signin' %}" method="post" id="signin-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label text-dark">Username:</label>
                            <input name='name' class="form-control" type="text" id="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label text-dark">Password:</label>
                            <input name='password' class="form-control" type="password" id="password" required>
                        </div>
                        <p>{{error}}</p>
                    </form>
                </div>
                <div class="card-footer text-center bg-danger" style="background: linear-gradient(to right, #f4943b, #e91639);">
                    <button class="btn btn-danger" form="signin-form">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
